</html>
    <head></head>
    <body>
        <p>Submit a file to view its filesize.</p>
        <form method="POST" action="/getFileSize" enctype="multipart/form-data">
            <input type="file" name="file" id="file"></input>
            <input type="submit"></input>
        </form>
    </body>
</html>